<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greska</title>
</head>
<body>
    <hgroup>
        <h1>Greska!</h1>
        <h2>Doslo je do greske pri obradi zahteva! Pokusajte ponovo!</h2>
       
    </hgroup>
</body>
</html>
