body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

    body a {
        color:white;
    }
    body a:hover{
        color:white;
        font-style:italic;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border-color:red;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}
