
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link rel="stylesheet" href="~/Content/404.css" />
    <title>PageNotFound</title>
</head>
<body>
    <div> 
      
    </div>
</body>
</html>
